<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/management.css"/>
    <link rel="stylesheet" href="../static/pages/css/student.css"/>
    <link rel="stylesheet" href="../static/pages/css/newStudent.css"/>
    <link rel="stylesheet" href="../static/pages/css/madal.css"/>
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/pages/css/kd.ui.plugin.css" />
    <link rel="stylesheet" href="../static/pages/css/loading.css" />

    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>
    <script src="../static/pages/js/kd.ui.plugin.js"></script>
    <script src="../static/pages/js/loading.js"></script>


</head>

<body>
    <div th:replace="layout::top"></div>
    <div class="main-container" id="main-container">
        <div th:replace="layout::left('13','32')">
        </div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <img src="../static/pages/img/line1.png">
                <span>班级列表</span>
                <img src="../static/pages/img/line.png">
            </div>
            <div class="tabbable">
                <ul class="nav nav-tabs" id="myTab">
                    <input type="hidden" id="room" th:value="${room}" />
                    <li class="active">
                        <a data-toggle="tab" href="#class" class="class">班级列表</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#teacher" class="teacher">教室列表</a>
                    </li>
                </ul>
                <div id="class" class="tab-content student classes">
                    <!-- 学员列表 -->
                    <div class="tab-pane fade in active" id="class_jz">
                    <form id="xbcalssForm">
                        <div class="screen" style="height:76px;">
                            <a href="/student/getXbClass"><button type="button" class="stdEnroll">新建班级</button></a>
                        </div>
                        <div class="control-position" id="control-position">
                            <div class="control-group">
                                <label class="control-label">校区</label>
                                <input  th:attr ="checked=${organId == '0'?true:false}"
                                        name="organId" type="radio" th:value="0" class="ace"
                                        th:onclick="'javascript:getClassListPage(\'\')'">
                                <span class="lbl" th:text="全部"></span>
                                <div class="checkbox" th:each="orgs:${organsList}">
                                    <label>
                                        <input th:attr ="checked=${organId == orgs.id?true:false}"
                                               name="organId" type="radio" th:value="${orgs.id}" class="ace"
                                               th:onclick="'javascript:getClassListPage(\'\')'">
                                        <span class="lbl" th:text="${orgs.organName}"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">教师姓名</label>
                                <input id="TeacherNameCla" name="TeacherNameCla" type="text" th:value="${TeacherNameCla}" class="ace"
                                       style="padding: 3px;border-radius: 5px !important;margin-top: 13px;width: 82px;color: #3c546c">
                                <div class="form-group" style="display: inline;">
                                    <button type="button" th:onclick="'javascript:getClassListPage(\'\')'">搜索</button>
                                    <button type="button" onclick="$('input[type=text],#TeacherNameCla').val('')">清空</button>
                                    <button type="button" th:onclick="'javascript:expRecord()'" >导出当前结果</button>
                                </div>
                            </div>
                            <div class="orderCon" id="donghua">
                                <div class="export">
                                    <button type="button" class="btn btn-primary">批量删除</button>
                                    <!--<button type="button" class="btn btn-primary">导出班级</button>-->
                                    <div class="form-group">
                                        <input type="checkbox" th:attr ="checked=${finishClass == '0'?true:false}" name="finishClass" id="finishClass" onchange="getClassListPage('');">
                                        显示已结班班级
                                    </div>
                                </div>
                                <div class="result">
                                    当前结果：共计<span th:text="${xbClassPage.getTotalElements()}"></span>个班级,学员<span th:text="${establishNumSum}"></span>人
                                </div>
                                <div class="orderTable">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>
                                                <input type="checkbox" id="sel_1" onchange="selectAll()">
                                            </th>

                                            <th>序号</th>
                                            <th>班级名称</th>
                                            <th>实际/开班人数
                                                <div class="sort">
                                                    <span class="glyphicon glyphicon-triangle-top"></span>
                                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                                </div>
                                            </th>
                                            <th>教师</th>
                                            <th>所属课程</th>
                                            <th>开班校区</th>
                                            <th>开班日期
                                                <div class="sort">
                                                    <span class="glyphicon glyphicon-triangle-top"></span>
                                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                                </div>
                                            </th>
                                            <th>结班日期
                                            </th>
                                            <th>上课时间
                                            </th>
                                            <th>招生状态</th>
                                            <th>操作</th>
                                            <th>
                                                <span href="#modal-table" data-toggle="modal" class="glyphicon glyphicon-option-vertical"
                                                    aria-hidden="true"></span>
                                            </th>
                                        </tr>
                                        <tr id="chooses" th:each="xbclass,xbclassta:${xbClassPage.content}">
                                            <td><input type="checkbox"></td>
                                            <td th:text="${xbclassta.count}+${xbClassPage.getNumber()*20}">序号</td>
                                            <td th:text="${xbclass.sysOrgans.organName}+${xbclass.xbCourse.xbcoursetype.courseTypeName}+${xbclass.teacher.employeeName}+${xbclass.className}"
                                                style="text-align: center !important;"
                                                class="className studentName" th:onclick="'javascript:classDetail(\''+${xbclass.id}+'\')'"><img src="../static/pages/img/ban.png">
                                            </td>
                                            <td class="prog" th:text="${xbclass.enrollNum} + '/' +${xbclass.preRecruitNum}">
                                                <div class="progress progress-small progress-striped active">
                                                    <!--<div class="progress-bar progress-bar-warning" style="width: 0%;"></div>
                                                    <span th:text="${xbclass.establishNum}"></span>-->
                                                </div>
                                            </td>
                                            <td th:text="${xbclass.teacher.employeeName}"></td>
                                            <td th:text="${xbclass.xbCourse.courseName}"></td>
                                            <td th:text="${xbclass.sysOrgans.organName}"></td>
                                            <td th:text="${xbclass?.classBeginDate}">
                                            <!--<th:block th:if="${xbClass?.classBeginDate==null}"  th:text="${xbClass?.classBeginDate}"></th:block>
                                            <th:block th:if="${xbClass?.classBeginDate!=null}" th:value="${#dates.format(xbClass?.classBeginDate, 'yyyy-MM-dd')}"></th:block>-->
                                            </td>
                                            <td th:text="${xbclass?.classEndDate}">
                                               <!-- <th:block th:if="${xbClass?.classEndDate==null}"  th:text="${xbClass?.classEndDate}"></th:block>
                                                <th:block th:if="${xbClass?.classEndDate!=null}" th:value="${#dates.format(xbClass?.classEndDate, 'yyyy-MM-dd')}"></th:block>
-->
                                            </td>
                                            <td th:utext="${xbclass.sktime}"></td>
                                            <td th:if="${xbclass.recruitState=='0'}">
                                                <!--<td class="classTime">
                                               <Span>每周周日15:30-16:30</Span>
                                               <Span>每周周日15:30-16:30</Span>
                                           </td>-->
                                                <Span class="recruit">开放招生</Span>
                                            </td>
                                            <td th:if="${xbclass.recruitState=='1'}">
                                                <Span class="recruit">停止招生</Span>
                                            </td>
                                            <td class="classDel">
                                            <div class="btn-group open">
                                                <p data-toggle="dropdown" class="down" aria-expanded="true">
                                                    操作
                                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                                </p>
                                                <ul class="dropdown-menu dropdown-default" style="display: none;">
                                                    <li>
                                                        <a href="#" th:onclick="'javascript:finishClass(\''+${xbclass.id}+'\')'">结班</a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{'/student/getXbClass?id='+${xbclass.id}}">编辑</a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{'/student/getXbClassT?id='+${xbclass.id}}">跟换教师</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" th:onclick="'javascript:deleteClass(\''+${xbclass.id}+'\')'">删除班级</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <div class="orderPage">
                                        <div class="page">
                                            单页显示：
                                            <select id="size" name="size" onchange="getClassListPage('');">
                                                <option th:selected="${classcurrentzise eq 20}" value="20">20条/页</option>
                                                <option th:selected="${classcurrentzise eq 5}" value="5">5条/页</option>
                                                <option th:selected="${classcurrentzise eq 10}" value="10">10条/页</option>
                                                <option th:selected="${classcurrentzise eq 15}" value="15">15条/页</option>
                                            </select>
                                        </div>
                                        <ul class="pagination" th:if="${xbClassPage.getTotalPages()>0}">
                                            <!-- 上一页 -->
                                            <li th:if="${xbClassPage.getNumber()+1 == 1}"><span>上一页</span></li>
                                            <li th:if="${xbClassPage.getNumber()+1 > 1}">
                                                <a  th:onclick="'javascript:getClassListPage(\''+${xbClassPage.getNumber()-1}+'\')'">
                                                    <i class="ace-icon fa ">上一页</i>
                                                </a>
                                            </li>
                                            <!-- 首页 -->
                                            <li th:if="${xbClassPage.getNumber()+1 == 1}" class="active"><span>1</span></li>
                                            <li th:if="${xbClassPage.getNumber()+1 > 1}">
                                                <a  th:onclick="'javascript:getClassListPage(\''+${0}+'\')'">1</a>
                                            </li>

                                            <th:block th:if="${xbClassPage.getTotalPages()>2 && xbClassPage.getTotalPages()<=10}">
                                                <th:block th:each="i:${#numbers.sequence(2,xbClassPage.getTotalPages()-1)}">
                                                    <li th:if="${xbClassPage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                    <li th:if="${xbClassPage.getNumber()+1 != i}"><a  th:onclick="'javascript:getClassListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                                </th:block>
                                            </th:block>
                                            <th:block th:if="${xbClassPage.getTotalPages() > 10}">
                                                <th:block th:if="${(xbClassPage.getNumber()+1-(5/2)) <= 2}" th:each="i:${#numbers.sequence(2,2+5-1)}">
                                                    <li th:if="${xbClassPage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                    <li th:if="${xbClassPage.getNumber()+1 != i}"><a  th:onclick="'javascript:getClassListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                                </th:block>
                                                <!-- ... -->
                                                <li th:if="${(xbClassPage.getNumber()+1-(5/2))>2}"><span>...</span></li>

                                                <th:block th:if="${((xbClassPage.getNumber()+1-(5/2))>2) && ((xbClassPage.getNumber()+1+(5/2)-(5%2==0?1:0)) < (xbClassPage.getTotalPages()-1))}"
                                                          th:each="i:${#numbers.sequence(xbClassPage.getNumber()+1-(5/2),xbClassPage.getNumber()+1+(5/2)-(5%2==0?1:0))}">
                                                    <li th:if="${xbClassPage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                    <li th:if="${xbClassPage.getNumber()+1 != i}"><a  th:onclick="'javascript:getClassListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                                </th:block>

                                                <!-- ... -->
                                                <li th:if="${(xbClassPage.getNumber()+1+(5/2)-(5%2==0?1:0)) < (xbClassPage.getTotalPages()-1)}"><span>...</span></li>
                                                <th:block th:if="${(xbClassPage.getNumber()+1+(5/2)-(5%2==0?1:0)) >= (xbClassPage.getTotalPages()-1)}" th:each="i:${#numbers.sequence(xbClassPage.getTotalPages()-5,xbClassPage.getTotalPages()-1)}">
                                                    <li th:if="${xbClassPage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                    <li th:if="${xbClassPage.getNumber()+1 != i}"><a  th:onclick="'javascript:getClassListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                                </th:block>
                                            </th:block>
                                            <!-- 最后一页 -->
                                            <li th:if="${xbClassPage.getTotalPages()>1 && xbClassPage.getNumber()+1 == xbClassPage.getTotalPages()}" class="active"><span th:text="${xbClassPage.getTotalPages()}">页码</span></li>
                                            <li th:if="${xbClassPage.getTotalPages()>1 && xbClassPage.getNumber()+1 != xbClassPage.getTotalPages()}">

                                                <a href="#" th:onclick="'javascript:getClassListPage(\''+${xbClassPage.getTotalPages()-1}+'\')'"
                                                   th:text="${xbClassPage.getTotalPages()}"></a>
                                            </li>
                                            <!-- 下一页 -->
                                            <li th:if="${xbClassPage.getNumber()+1 >= xbClassPage.getTotalPages()}"><span>下一页</span></li>
                                            <li th:if="${xbClassPage.getNumber()+1 < xbClassPage.getTotalPages()}">
                                                <a th:onclick="'javascript:getClassListPage(\''+${xbClassPage.getNumber()+1}+'\')'">
                                                    <i class="ace-icon fa ">下一页</i>
                                                </a>
                                            </li>
                                            <li>
                                                <span style="color: #020202;" th:text="'共'+${xbClassPage.getTotalPages()}+'页/'+${xbClassPage.getTotalElements()}+'条记录'"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <!-- 教室列表 -->
                <div id="teacher" class="tab-pane fade student course">
                    <div>
                        <div class="screen" style="height:84px;">
                            <a href="/student/getClassroom"><button class="stdEnroll">新建教室</button></a>
                        </div>
                        <div class="orderCon">
                            <div class="orderTable">
                                <table id="courseTypeList" class="table table-hover">
                                    <tr>
                                        <th>序号</th>
                                        <th>教室名称</th>
                                        <th>所属校区</th>
                                        <th>操作</th>
                                    </tr>
                                    <tr id="choosetype" class="choose" th:each="classroom,rooms:${xbClassroomPage.content}">
                                        <td th:text="${rooms.count}+${xbClassroomPage.getNumber()*20}">序号</td>
                                        <td th:text="${classroom.classroomName}"></td>
                                        <td th:text="${classroom.sysOrgans.organName}">所属校区</td>
                                        <td>
                                            <div class="btn-group">
                                                <p data-toggle="dropdown" class="down" aria-expanded="false">
                                                    更多
                                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                                </p>
                                                <ul class="dropdown-menu dropdown-default">
                                                    <li>
                                                        <a th:href="@{'/student/getClassroom?id='+${classroom.id}}"
                                                            data-toggle="modal">编辑</a>
                                                    </li>
                                                    <li>
                                                        <a th:onclick="'javascript:deleteClassroom(\''+${classroom.id}+'\')'">删除</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="orderPage" style="margin-top:30px;">
                                    <div class="page">
                                        单页显示：
                                        <select id="size" name="size" onchange="getOrgansListPage('');">
                                            <option th:selected="${roomcurrentzise eq 20}" value="20">20条/页</option>
                                            <option th:selected="${roomcurrentzise eq 5}" value="5">5条/页</option>
                                            <option th:selected="${roomcurrentzise eq 10}" value="10">10条/页</option>
                                            <option th:selected="${roomcurrentzise eq 15}" value="15">15条/页</option>
                                        </select>
                                    </div>
                                    <!--<ul class="pagination" th:if="${xbClassroomPage.getTotalPages() gt 0}">
                                        <li class="disabled">
                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+0+'\')'">首页</a>
                                        </li>
                                        <li class="disabled" th:if="${xbClassroomPage.getNumber()-1} ge 0">
                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${xbClassroomPage.getNumber()-1}+'\')'">
                                                <i class="ace-icon fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li th:class="${i} eq ${xbClassroomPage.getNumber()+1}?'active':''" th:each="i:${#numbers.sequence(1,xbClassroomPage.getTotalPages())}">
                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${i}+'\')'"
                                                th:text="${i}"></a>
                                        </li>
                                        <li th:if="${xbClassroomPage.getTotalPages()} ge ${xbClassroomPage.getNumber()+2} ">
                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${xbClassroomPage.getNumber()+2}+'\')'">
                                                <i class="ace-icon fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        &lt;!&ndash; <li class="">
                                         <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${currentnumber}+'\')'">尾页</a>
                                     </li>&ndash;&gt;
                                    </ul>-->
                                    <ul class="pagination" th:if="${xbClassroomPage.getTotalPages()>0}">
                                        <!-- 上一页 -->
                                        <li th:if="${xbClassroomPage.getNumber()+1 == 1}"><span>上一页</span></li>
                                        <li th:if="${xbClassroomPage.getNumber()+1 > 1}">
                                            <a  th:onclick="'javascript:getOrgansListPage(\''+${xbClassroomPage.getNumber()-1}+'\')'">
                                                <i class="ace-icon fa ">上一页</i>
                                            </a>
                                        </li>
                                        <!-- 首页 -->
                                        <li th:if="${xbClassroomPage.getNumber()+1 == 1}" class="active"><span>1</span></li>
                                        <li th:if="${xbClassroomPage.getNumber()+1 > 1}">
                                            <a  th:onclick="'javascript:getOrgansListPage(\''+${0}+'\')'">1</a>
                                        </li>

                                        <th:block th:if="${xbClassroomPage.getTotalPages()>2 && xbClassroomPage.getTotalPages()<=10}">
                                            <th:block th:each="i:${#numbers.sequence(2,xbClassroomPage.getTotalPages()-1)}">
                                                <li th:if="${xbClassroomPage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                <li th:if="${xbClassroomPage.getNumber()+1 != i}"><a  th:onclick="'javascript:getOrgansListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${xbClassroomPage.getTotalPages() > 10}">
                                            <th:block th:if="${(xbClassroomPage.getNumber()+1-(5/2)) <= 2}" th:each="i:${#numbers.sequence(2,2+5-1)}">
                                                <li th:if="${xbClassroomPage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                <li th:if="${xbClassroomPage.getNumber()+1 != i}"><a  th:onclick="'javascript:getOrgansListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                            </th:block>
                                            <!-- ... -->
                                            <li th:if="${(xbClassroomPage.getNumber()+1-(5/2))>2}"><span>...</span></li>

                                            <th:block th:if="${((xbClassroomPage.getNumber()+1-(5/2))>2) && ((xbClassroomPage.getNumber()+1+(5/2)-(5%2==0?1:0)) < (xbClassroomPage.getTotalPages()-1))}"
                                                      th:each="i:${#numbers.sequence(xbClassroomPage.getNumber()+1-(5/2),xbClassroomPage.getNumber()+1+(5/2)-(5%2==0?1:0))}">
                                                <li th:if="${xbClassroomPage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                <li th:if="${xbClassroomPage.getNumber()+1 != i}"><a  th:onclick="'javascript:getOrgansListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                            </th:block>

                                            <!-- ... -->
                                            <li th:if="${(xbClassroomPage.getNumber()+1+(5/2)-(5%2==0?1:0)) < (xbClassroomPage.getTotalPages()-1)}"><span>...</span></li>
                                            <th:block th:if="${(xbClassroomPage.getNumber()+1+(5/2)-(5%2==0?1:0)) >= (xbClassroomPage.getTotalPages()-1)}" th:each="i:${#numbers.sequence(xbClassroomPage.getTotalPages()-5,xbClassroomPage.getTotalPages()-1)}">
                                                <li th:if="${xbClassroomPage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                <li th:if="${xbClassroomPage.getNumber()+1 != i}"><a  th:onclick="'javascript:getOrgansListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                            </th:block>
                                        </th:block>
                                        <!-- 最后一页 -->
                                        <li th:if="${xbClassroomPage.getTotalPages()>1 && xbClassroomPage.getNumber()+1 == xbClassroomPage.getTotalPages()}" class="active"><span th:text="${xbClassroomPage.getTotalPages()}">页码</span></li>
                                        <li th:if="${xbClassroomPage.getTotalPages()>1 && xbClassroomPage.getNumber()+1 != xbClassroomPage.getTotalPages()}">

                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${xbClassroomPage.getTotalPages()-1}+'\')'"
                                               th:text="${xbClassroomPage.getTotalPages()}"></a>
                                        </li>
                                        <!-- 下一页 -->
                                        <li th:if="${xbClassroomPage.getNumber()+1 >= xbClassroomPage.getTotalPages()}"><span>下一页</span></li>
                                        <li th:if="${xbClassroomPage.getNumber()+1 < xbClassroomPage.getTotalPages()}">
                                            <a th:onclick="'javascript:getOrgansListPage(\''+${xbClassroomPage.getNumber()+1}+'\')'">
                                                <i class="ace-icon fa ">下一页</i>
                                            </a>
                                        </li>
                                        <li>
                                            <span style="color: #020202;" th:text="'共'+${xbClassroomPage.getTotalPages()}+'页/'+${xbClassroomPage.getTotalElements()}+'条记录'"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <!-- 自定义选项弹窗 -->
        <div id="modal-table" class="modal fade in" tabindex="-1" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">自定义选项</div>
                    </div>
                    <div class="modal-body no-padding">
                        <div class="checkAll">
                            <input type="checkbox" id="sel_2" onchange="selectAll()">全选
                        </div>
                        <div class="checkList">
                            <span><input type="checkbox">渠道</span>
                            <span><input type="checkbox">欠费</span>
                            <span><input type="checkbox">积分</span>
                            <span><input type="checkbox">微信号</span>
                            <span><input type="checkbox">生日</span>
                            <span><input type="checkbox">年龄</span>
                            <span><input type="checkbox">公立学校</span>
                            <span><input type="checkbox">公立校班级</span>
                            <span><input type="checkbox">居住区域</span>
                            <span><input type="checkbox">其他信息</span>
                            <span><input type="checkbox">课程状态</span>
                            <span><input type="checkbox">上课校区</span>
                            <span><input type="checkbox">课时有校区</span>
                        </div>
                    </div>


                    <div class="modal-footer no-margin-top">
                        <button class="btn pull-left" data-dismiss="modal">
                            取消
                        </button>
                        <button class="btn pull-right" data-dismiss="modal">
                            确定
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        ! function () {
            laydate.render({
                elem: '#demo'
            }); //绑定元素
        }();

        $(".down").click(function () {
            $(this).siblings(".dropdown-menu").toggle();
        });
        $(".tag .close").click(function () {
            $(this).parent(".tag").hide();
        });

        function selectAll() {
            var isCheck = $("#sel_1").is(':checked'); //获得全选复选框是否选中
            $("#choose input[type='checkbox']").each(function () {
                this.checked = isCheck; //循环赋值给每个复选框是否选中
            });

            var isCheck = $("#sel_2").is(':checked'); //获得全选复选框是否选中
            $(".checkList input[type='checkbox']").each(function () {
                this.checked = isCheck; //循环赋值给每个复选框是否选中
            });
        };
        $(function () {
            var room = $("#room").val();
            if (room == '0') {
                $("#teacher").show();
                $("#class").hide();
                $('#myTab a[href="#teacher"]').tab('show')
            } else {
                $("#class").show();
                $("#teacher").hide();
                $('#myTab a[href="#class"]').tab('show')
            }
            $(".class").click(function () {
                $("#class").show();
                $("#teacher").hide();
            });
            $(".teacher").click(function () {
                $("#teacher").show();
                $("#class").hide();
            });
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/ ;

        function getOrgansListPage(page) {
            var load = new Loading();
            load.init({
                target: "#teacher"
            });
            load.start();
            var size = $('#size option:selected').val(); //选中的值
           /* if (page) {
                page = page - 1;
            }*/
            window.location.href = basePath + '/student/getXbClassroomList?page=' + page + '&size=' + size + '&room=0';
        }
        //班级列表
        function getClassListPage(page) {
            var isFinishClass = false;
            if ($("#finishClass").get(0).checked) {
                isFinishClass = true;
            }
            var load = new Loading();
            load.init({
                target: "#main-container"
            });
            load.start();
            var data= serializeObject("#xbcalssForm");
            var size = $('#size option:selected').val(); //选中的值
            /*if (page) {
                page = page - 1;
            }*/
            window.location.href = basePath + '/student/getXbClassroomList?page=' + page + '&size=' + size+ '&isFinishClass=' + isFinishClass+'&data='+JSON.stringify(data);
        }

        //跳转到班级详情
        function classDetail(id) {
            window.location.href = basePath + '/student/classDetail?classId=' + id ;
        }

        function deleteClassroom(id) {
            $.kd.kdConfirm("确定要删除该教室吗？",function(){
                var load = new Loading();
                load.init({
                    target: "#donghua"
                });
                load.start();
                $.ajax({
                    url: basePath + '/student/delete/classroom/' + id,
                    type: 'get',
                    dataType: 'json',
                    contentType: 'application/json',
                    async: true,
                    success: function (data) {
                        load.stop();
                        var status = data.status;
                        var msg = data.msg;
                        $.kd.kdAlert("删除成功！",function () {
                            window.location.href = basePath + '/student/getXbClassroomList?room=0';
                        });
                    },
                    error: function () {
                        $.kd.kdMsg("删除失败！");
                    }
                });
            })
            //}
        }

        function deleteClass(id) {
            $.kd.kdConfirm("确定要删除该班级吗？",function(){
                var load = new Loading();
                load.init({
                    target: "#donghua"
                });
                load.start();
                $.ajax({
                    url: basePath + '/student/delete/class/' + id,
                    type: 'get',
                    dataType: 'json',
                    contentType: 'application/json',
                    async: true,
                    success: function (data) {
                        load.stop();
                        var status = data.status;
                        var msg = data.msg;
                        if(status==0){
                            $.kd.kdAlert(msg);
                        }else{
                            $.kd.kdAlert(msg,function () {
                                window.location.href = basePath + '/student/getXbClassroomList?room=1';
                            });
                        }
                    },
                    error: function () {
                        load.stop();
                        $.kd.kdMsg("删除失败");
                        console.log("回调失败")
                    }
                });
            })
        }

        function finishClass(id) {
            $.kd.kdConfirm("确定要同步结束该班级吗？",function(){
                var load = new Loading();
                load.init({
                    target: "#donghua"
                });
                load.start();
                $.ajax({
                    url: basePath + '/student/finish/class/' + id,
                    type: 'get',
                    dataType: 'json',
                    contentType: 'application/json',
                    async: true,
                    success: function (data) {
                        load.stop();
                        var status = data.status;
                        var msg = data.msg;
                        $.kd.kdAlert(msg,function () {
                            window.location.href = basePath + '/student/getXbClassroomList?room=1';
                        });
                    },
                    error: function () {
                        load.stop();
                        $.kd.kdMsg("结班失败");
                        console.log("回调失败")
                    }
                });
            })
        }

        function expRecord(){
            var TeacherNameCla = $("#TeacherNameCla").val();
            if(!TeacherNameCla){
                $.kd.kdAlert("请先输入教师姓名");
                return false;
            }
            var data= serializeObject("#xbcalssForm");
            window.location.href= basePath + '/excel/classRecordExcel' +'?data='+JSON.stringify(data);
        }

        function serializeObject(form)
        {
            var o = {};
            var a = $(form).serializeArray();
            $.each(a, function() {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    </script>
<style>

    a{cursor:pointer}
</style>
</body>

</html>