<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      ><!---->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css"/>
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/pages/css/kd.ui.plugin.css" />

    <link rel="stylesheet" href="../static/pages/css/management.css">
    <link rel="stylesheet" href="../static/pages/css/student.css">
    <link rel="stylesheet" href="../static/pages/css/newstudent.css">
    <link rel="stylesheet" href="../static/pages/css/madal.css">
    <link rel="stylesheet" href="../static/pages/css/loading.css" />

    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/kd.ui.plugin.js"></script>

    <script src="../static/pages/laydate/laydate.js"></script>
    <script src="../static/pages/js/loading.js"></script>
    <script src="../static/pages/js/laydate.js"></script>

</head>
<body>
        <div th:replace="layout::top"></div>
        <div class="main-container" id="main-container">
            <div th:replace="layout::left('11','')">
            </div>
            <div class="main-content" th:if="${session.roleName!='教师'&&session.roleName!='运营助理'}">
                <div class="breadcrumbs" id="breadcrumbs">
                    <img src="../static/pages/img/line1.png"/>
                    <span>校区今日</span>
                    <img src="../static/pages/img/line.png"/>
                </div>
        <div class="container" style="width: 65%;margin-top:50px;">
            <form id="searchform">
                <div class="control-group">
                <label class="control-label">管辖校区</label>
                <input  th:attr ="checked=${organId == '0'?true:false}" name="organId"
                        type="radio" th:value="0" class="ace" th:onclick="'javascript:getOrgansListPage()'" />
                <span class="lbl" th:text="全部校区"></span>
                <th:block class="checkbox" th:each="orgs:${organsList}">
                    <label>
                        <input th:attr ="checked=${organId == orgs.id?true:false}"
                               name="organId" type="radio" th:value="${orgs.id}" class="ace" th:onclick="'javascript:getOrgansListPage()'">
                        <span class="lbl" th:text="${orgs.organName}"></span>
                    </label>
                </th:block>
            </div>
                <div class="control-group" style="margin-bottom: 10px;">
                <label class="control-label">报名时间</label>
                <input id="enrollDateSearch" name="enrollDateSearch"
                       type="text" th:value="${enrollDateSearch}"
                       style="padding: 3px;border-radius: 5px !important;margin-top: 13px;width: 82px;color: #949ba2;border:solid 1px"/>
                    <input type="hidden" name="status" id="status"/>
                <div class="form-group" style="display: inline;">
                    <button type="button" th:onclick="'javascript:getOrgansListPage()'">搜索</button>
                    <button type="button" onclick="$('input[type=text],#enrollDateSearch').val('')">清空</button>
                </div>
            </div>
            </form>
            <table class="table table-bordered">
                <tbody align="center">
                <tr>
                    <td>项目</td>
                    <td>实际收费</td>
                </tr>
                <tr>
                    <td>学费</td>
                    <td><span th:text="${#numbers.formatDecimal(surplusMoney, 1, 2)}"></span></td>
                </tr>
                <tr>
                    <td>报名费</td>
                    <td><span th:text="${#numbers.formatDecimal(registratiofee, 1, 2)}"></span></td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td><span th:text="${#numbers.formatDecimal(indextotalMoney, 1, 2)}"></span></td>
                </tr>
                </tbody>
            </table>
            <button type="button" th:onclick="'javascript:getDetailsTodayList()'" class="btn btn-info">今日录入明细</button>
            <button type="button" th:onclick="'javascript:getSameMonthList()'" class="btn btn-info">本月录入明细</button>
        </div>
    </div>
</div>
<script>
    !function(){
        laydate.render({elem: '#enrollDateSearch'});//绑定元素
    }();
</script>
<script type="text/javascript" th:inline="javascript">
    var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;
    //学员列表搜索studentList
    function getOrgansListPage(){
        var load = new Loading();
        load.init({
            target: "#main-container"
        });
        load.start();
        var data= serializeObject("#searchform");

        window.location.href = basePath + '/forward/index?room=0'+'&data='+JSON.stringify(data);
    }

    function serializeObject(form)
    {
        var o = {};
        var a = $(form).serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    function getDetailsTodayList(){
        $("#status").val("today");
        var load = new Loading();
        load.init({
            target: "#main-container"
        });
        load.start();
        var data= serializeObject("#searchform");
        window.location.href = basePath + '/forward/getDetailsTodayList?room=0'+'&data='+JSON.stringify(data);
    }

    function getSameMonthList(){
        $("#status").val("sameMonth");
        var load = new Loading();
        load.init({
            target: "#main-container"
        });
        load.start();
        var data= serializeObject("#searchform");
        window.location.href = basePath + '/forward/getDetailsTodayList?room=0'+'&data='+JSON.stringify(data);
    }
</script>
</body>
</html>