<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/student.css">
    <link rel="stylesheet" href="../static/pages/css/newStudent.css"/>
    <link rel="stylesheet" href="../static/pages/css/management.css">
    <link rel="stylesheet" href="../static/pages/css/fullcalendar.css">
    <link rel="stylesheet" href="../static/pages/css/lessonTable.css">
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/pages/css/kd.ui.plugin.css" />
    <link rel="stylesheet" href="../static/pages/css/loading.css" />
    <link rel="stylesheet" href="../static/pages/css/newStudent.css"/>
    <link rel="stylesheet" href="../static/pages/css/madal.css">
    <link rel="stylesheet" href="../static/pages/css/syllabus.css">
    <link rel="stylesheet" href="../static/pages/css/easyui.css" />

    <script src="../static/pages/js/jquery-1.9.1.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>
    <script src="../static/pages/js/fullcalendar.min.js"></script>
    <script src="../static/pages/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="../static/pages/js/kd.ui.plugin.js"></script>
    <script src="../static/pages/js/loading.js"></script>
    <script src="../static/pages/js/laydate.js"></script>

</head>

<body>

        <div th:replace="layout::top"></div>
            <div class="main-container" id="main-container">
                <div th:replace="layout::left('13','35')">
                </div>
                <div class="main-content" id="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <img src="../static/pages/img/line1.png">
                        <span>课程表</span>
                        <img src="../static/pages/img/line.png">
                    </div>
                    <div class="screen" style="height:80px;" th:if="${session.roleName}!='教师'">
                        <div class="screenTop">
                            <select  id="seartype" class="selectName" name="type">
                                <option value="TE_NAME" selected="selected" th:selected="${type eq 'TE_NAME'}">教师姓名</option>
                                <option value="CLA_NAME" th:selected="${type eq 'CLA_NAME'}">教室名称</option>
                                <option value="CLAss_NAME" th:selected="${type eq 'CLAss_NAME'}">班级名称</option>
                            </select>
                            <div class="nav-search" id="nav-search">
                                <form class="form-search">
                                    <span class="input-icon">
                                        <input id="searchcontent" type="text" placeholder="请输入姓名、支持拼音缩写" class="nav-search-input"
                                            autocomplete="off">
                                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                                    </span>
                                </form>
                            </div>
                            <div class="form-group" style="display: inline;">
                                <button type="button" th:onclick="'javascript:getOrgansListPage(\'\')'">搜索</button>
                            </div>
                        </div>

                    </div>
                    <div id="control-position" class="control-position">
                        <div class="control-group">
                            <label class="control-label">校区</label>
                            <input  th:attr ="checked=${organId == '0'?true:false}"
                                    name="organId" type="radio" th:value="0" class="ace"
                                    th:onclick="'javascript:getOrgansListPage(\'\')'">
                            <span class="lbl" th:text="全部"></span>
                            <div class="checkbox" th:each="orgs:${organsList}">
                                <label>
                                    <input th:attr ="checked=${organId == orgs.id?true:false}"
                                           name="organId" type="radio" th:value="${orgs.id}" class="ace"
                                           th:onclick="'javascript:getOrgansListPage(\'\')'">
                                    <span class="lbl" th:text="${orgs.organName}"></span>
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">课程类别</label>
                            <input  th:attr ="checked=${typeId == '0'?true:false}"
                                    name="typeId" type="radio" th:value="0" class="ace"
                                    th:onclick="'javascript:getOrgansListPage(\'\')'">
                            <span class="lbl" th:text="全部"></span>
                            <div class="checkbox" th:each="types:${coursetypelist}">
                                <label>
                                    <input th:attr ="checked=${typeId == types.id?true:false}"
                                           name="typeId" type="radio" th:value="${types.id}" class="ace"
                                           th:onclick="'javascript:getOrgansListPage(\'\')'">
                                    <span class="lbl" th:text="${types.courseTypeName}"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="orderCon">
                        <!--<div class="export">
                            <button type="button" class="btn btn-primary">导出课表</button>
                        </div>-->
                        <div class="orderTable" id="orderTable">
                            <div id="calendar">
                                <div class="classStyle">
                                    <p class="state1"><span></span>已记上课</p>
                                    <!--<p class="state2"><span></span>我的日程</p>-->
                                    <p class="state3"><span></span>正常日程</p>
                                    <!--<p class="state4"><span></span>冲突日程</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form id="iformAttendClass"  >
            <div id="modal-table" class="modal fade in pk" tabindex="-1" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content" id="modal-content">
                        <div class="modal-header no-padding">
                            <div id="newdayattend" class="table-header">新建日程</div>
                        </div>
                        <input id="id" name="id" type="hidden" value="" />
                        <div class="modal-body no-padding">
                            <div id="classl" class="tab-pane fade in active">
                                <div class="grounInline">
                                    <div class="form-group">
                                        <label><i>*</i>班级</label>
                                        <select id="classId" name="classId"
                                        th:onchange="|javascript:classToFindAll('add')|">
                                        <option th:each="cla,claSta:${xbClassList}" th:value="${cla.id}"
                                                th:text="${cla.sysOrgans.organName}+''+${cla.xbCourse.courseName}+''+${cla.teacher.employeeName}+''+${cla.className}">
                                        </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>科目</label>
                                        <select name="subjectId" id="subjectId">
                                            <option th:each="sub,subSta:${xbSubjectList}" th:value="${sub.id}" th:text="${sub.subjectName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="grounInline">
                                    <div class="form-group">
                                        <label><i>*</i>上课时段</label>
                                        <input id="timeInterval" name="timeInterval"  type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label >上课主题</label>
                                        <input id="classTheme" name="classTheme" type="text">
                                    </div>
                                </div>
                                <div id="teacherfromgroupid">
                                    <th:block th:if="${XbClass}" th:fragment="teacherfra">
                                        <script>
                                            //时间范围
                                            laydate.render({
                                                elem: '#startDateTime'
                                            });
                                            //时间范围
                                            laydate.render({
                                                elem: '#endDateTime'
                                            });

                                        </script>
                                        <div id="scheduleModediv" class="form-group">
                                            <label><i>*</i>排课日程方式</label>
                                            <input id="scheduleMode1" name="scheduleMode" type="radio" th:attr ="checked=${type eq 'edit'?true:false}"  class="ace" value="1" th:onclick="|paikeFan('1')|"><span
                                                class="lbl">单次</span>
                                            <input id="scheduleMode2" name="scheduleMode" type="radio" th:if="${type eq 'add'}" th:attr ="checked=${type eq 'add'?true:false}" class="ace" value="2" th:onclick="|paikeFan('2')|">
                                            <span th:if="${type eq 'add'}"
                                                  class="lbl">重复</span>
                                        </div>
                                        <div id="singleStrarDate" class="form-group">
                                            <label><i>*</i>上课日期</label>
                                            <input class="laydate-icon" id="startDateTime" name="startDateTime"
                                                   th:value="${XbAttendClass.startDateTime}">
                                            <!--<input class="laydate-icon" id="startDateTime" name="startDateTime"
                                                   th:value="${XbClass.classBeginDate}">-->
                                            <span id="manyStrarDate" th:if="${type eq 'add'}">
                                            至
                                            <input class="laydate-icon" id="endDateTime" name="endDateTime"
                                                   th:value="${XbClass.classEndDate}">
                                        </span>
                                        </div>
                                        <div id="manyWeek" class="manyWeek" th:if="${type eq 'add'}">
                                        <label><i>*</i>重复设置</label>
                                        <input type="checkbox" checked="checked" name="weekType" value="0"><span>全选</span>
                                        <input type="checkbox" name="weekType" value="1"><span>周一</span>
                                        <input type="checkbox" name="weekType" value="2"><span>周二</span>
                                        <input type="checkbox" name="weekType" value="3"><span>周三</span>
                                        <input type="checkbox" name="weekType" value="4"><span>周四</span>
                                        <input type="checkbox" name="weekType" value="5"><span>周五</span>
                                        <input type="checkbox" name="weekType" value="6"><span>周六</span>
                                        <input type="checkbox" name="weekType" value="7"><span>周日</span>
                                </div>
                                <div class="grounInline">
                                    <div class="form-group">
                                        <label><i>*</i>教师</label>
                                        <input name="teacherId" id="teacherId" type="hidden" th:value="${XbClass.teacher.id}">
                                        <input name="teacherName" id="teacherName" type="text" disabled="disabled"
                                               th:value="${XbClass.teacher.employeeName}">
                                    </div>
                                    <div class="form-group">
                                        <label><i>*</i>助教</label>
                                        <input name="tutorId" id="tutorId" type="hidden" th:value="${XbClass.teacher.id}">
                                        <input name="tutorName" id="tutorName" type="text" disabled="disabled"
                                               th:value="${XbClass.teacher.employeeName}">
                                    </div>
                                </div>
                                <div class="grounInline">
                                    <div class="form-group">
                                        <label><i>*</i>教室</label>
                                        <input name="classRoomId" id="classRoomId" type="hidden" th:value="${XbClass.xbClassroom.id}">
                                        <input name="classRoomName" id="classRoomName" type="text" disabled="disabled"
                                               th:value="${XbClass.xbClassroom.classroomName}">
                                    </div>
                                    <div class="form-group">
                                        <label><i>*</i>上课方式</label>
                                        <input name="wayOfTeaching" id="wayOfTeaching" type="hidden" th:value="${XbClass.xbCourse.type}">
                                        <input th:if="${XbClass.xbCourse.type} eq '1'" name="wayOfTeachingName"
                                               id="wayOfTeachingName" type="text" disabled="disabled" th:value="一对一">
                                        <input th:if="${XbClass.xbCourse.type} eq '0'" name="wayOfTeachingName"
                                               id="wayOfTeachingName" type="text" disabled="disabled" th:value="班课">
                                    </div>
                                </div>
                                <div class="modal-footer no-margin-top">
                                    <button class="btn pull-left" data-dismiss="modal" onclick="cecalAttendClass()">
                                        取消
                                    </button>
                                    <button class="btn pull-right"  onclick="saveAttendClass()" type="button">
                                        保存
                                    </button>
                                </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
<script type="text/javascript" th:inline="javascript">
    var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;
    //条件查询
    function getOrgansListPage(){
        $('#calendar'). fullCalendar ( 'refetchEvents' );
    }
    $(function () {
        var load = new Loading();
        load.init({
            target: "#orderTable"
        })
        //load.start();
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var url = basePath+"/jw_center_arranging_course/to_arranging_course_fullcalendar";
        $('#calendar').fullCalendar({
            header: {
                right: '',
                center: 'prev,title,next,today',
                left: 'agendaDay,agendaWeek,month'
            },
            //自定义图标
            buttonIcons:{
                prev:'left-single-arrow',
                next: 'right-single-arrow',
                prevYear: 'left-double-arrow',
                nextYear: 'right-double-arrow'
            },
            currentTimezone: 'Asia/Beijing',
            height:"700",aspectRatio:1.6,handleWindowResize:true,
            eventLimit: true,
                             views: {
                                 agenda: {
                                     eventLimit: 3//最大容纳数量
                                 }
                             },
            defaultView:'agendaWeek',
            editable:false,//是否可拖动
            monthNames: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
            monthNamesShort: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
            dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
            firstDay: 1,
            editable: true,
            timeFormat: 'H:mm',
            axisFormat: 'H:mm',
            events: function(start, end, callback) {
                load.start();
                var fstart = $.fullCalendar.formatDate(start, "yyyy-MM-dd");
                var fend = $.fullCalendar.formatDate(end, "yyyy-MM-dd");
                var organId  = $('input:radio[name="organId"]:checked').val();
                var typeId  = $('input:radio[name="typeId"]:checked').val();
                var seartype  = $("#seartype").val();
                var searchcontent  = $("#searchcontent").val();
                $.ajax({
                    type: "post",
                    url: url,//我是用ajax获取后台数据的，这里填写地址
                    dataType: "json",
                    data: {
                        start: fstart,
                        end: fend,
                        organId:organId,
                        courseTypeId:typeId,
                        seartype:seartype,
                        searchcontent:searchcontent,
                        type:"kcb"
                    },
                    success: function(data) {
                        if (data) {
                            var event = [];
                            var listentity = data.listentity;
                            $.each(listentity, function(i) {
                                var dd = listentity[i];
                                var time = dd.timeInterval.split("-");
                                var date = dd.startDateTime.split("-");
                                var y = date[0];var m = date[1];var d = date[2];
                                var starthh = time[0].split(":")[0].trim();
                                var startmm = time[0].split(":")[1].trim();
                                var endhh = time[1].split(":")[0].trim();
                                var endtmm = time[1].split(":")[1].trim();
                                var isGoToClass = dd.isGoToClass;
                                event.push({
                                    _id: dd.id,
                                    title:dd.className,
                                   // title:endhh+":"+endtmm+"\r\n"+dd.organName+dd.courseTypeName+dd.employeeName+dd.className,
                                    start: new Date(y, m-1, d ,starthh,startmm),
                                    end: new Date(y, m-1, d ,endhh,endtmm),
                                    allDay: false,
                                    roomname:dd.classroomName,
                                    type:dd.organName+dd.courseTypeName+dd.className,
                                    teachername:dd.employeeName,
                                    xbClassId:dd.xbClassId,
                                    startDateTime:dd.startDateTime,
                                    timeInterval:dd.timeInterval,
                                    subjectId:dd.subjectId,
                                    backgroundColor:isGoToClass=='1'?"#3967a3":"#33a299",
                                    isGoToClass:isGoToClass,
                                    classTheme:dd.classTheme

                                });
                            });
                            load.stop();
                            callback(event);
                        }
                        load.stop();
                    },
                    error:function(){
                        $.kd.kdAlert("错了")
                    }
                });
            },
            //点击事件
            eventClick: function(event) {
                $('#modal-table').modal('show');
                $("#id").val(event._id);
                $("#newdayattend").text("编辑日程");
                $("#classId").val(event.xbClassId);
                $(":radio[name='scheduleMode'][value='1']").prop("checked", "checked");
                $("#scheduleModediv").hide();
                $("#startDateTime").val(event.startDateTime);
                $("#timeInterval").val(event.timeInterval);
                $("#subjectId").val(event.subjectId);
                $("#classTheme").val(event.classTheme);
                $("#classId").attr("disabled","disabled");
                $("#classId").css("color","#a29b9b");
                classToFindAll('edit');
            },
            loading: function (bool) {
                if (bool) $('#loading').show();
                else $('#loading').hide();
            },
            //#region 鼠标放上去显示信息
            eventMouseover: function (calEvent, jsEvent, view) {
                var fstart = $.fullCalendar.formatDate(calEvent.start, "yyyy年MM月dd号 HH:mm");
                var fend = $.fullCalendar.formatDate(calEvent.end, "yyyy年MM月dd号 HH:mm");
                    $(this).attr('title', "开始时间："+fstart+"" +
                        "\r\n结束时间："+fend+"" +
                        "\r\n教室："+calEvent.roomname+
                        "\r\n班课/一对一："+calEvent.type+
                        "\r\n教师："+calEvent.teachername);
                if(calEvent.isGoToClass=="1"){
                    $(this).css('background',"#8ba3c3");
                }else{
                    $(this).css('background',"#66b8b2");
                }

            },
            eventMouseout: function (event, jsEvent, view) {
                if(event.isGoToClass=="1"){
                    $(this).css('background',"#3967a3");
                }else{
                    $(this).css('background',"#33a299");
                }

            },
        });

    });
    //班级下拉级联
    function classToFindAll(type){
        var load = new Loading();
        load.init({
            target: "#modal-content"
        });
        load.start();
        //var calssId = $("#classId option:selected").val();
        var id = $("#id").val();
        $.ajax({
            url: basePath + '/jw_center_arranging_course/classToFindAll',
            type: 'get',
            contentType: 'application/json',
            data: {id: id,type:type},
            async: true,
            success: function (data) {
                load.stop();
                console.log("查询班级级联信息成功");
                $("#teacherfromgroupid").html("");
                $("#teacherfromgroupid").append(data);
            },
            error: function () {
                load.stop();
                console.log("查询班级级联信息失败")
            }

        });
    }
    //编辑日程
    function saveAttendClass() {
        var data = serializeObject("#iformAttendClass");
        data.classId = $("#classId").val();
        if(data.classId=="" || data.classId == undefined){
            $.kd.kdMsg("请选择班级");
            return false;
        }
        if(data.subjectId=="" || data.subjectId == undefined){
            $.kd.kdMsg("请选择科目");
            return false;
        }
        if(data.scheduleMode=="" || data.scheduleMode == undefined){
            $.kd.kdMsg("请选择排课日程方式");
            return false;
        }
        if(data.startDateTime=="" || data.startDateTime == undefined){
            $.kd.kdMsg("请选择上课日期");
            return false;
        }
        if(data.scheduleMode=="2" && (data.endDateTime=="" || data.endDateTime == undefined)){
            $.kd.kdMsg("请选择完整上课日期");
            return false;
        }

        var strgetSelectValue = "";
        var getSelectValueMenbers = $("input[name='weekType']:checked").each(function (j) {
            if (j >= 0) {
                strgetSelectValue += $(this).val() + ","
            }
        });
        if(data.scheduleMode=="2" && strgetSelectValue==""){
            $.kd.kdMsg("请选择重复设置");
            return false;
        }
        if(data.timeInterval=="" ){
            $.kd.kdMsg("请选择上课时段");
            return false;/**/
        }
        var load = new Loading();
        load.init({
            target: "#modal-content"
        });
        load.start();
        data.weekType = strgetSelectValue;
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: basePath + '/jw_center_arranging_course/save_xbAttend_class',
            data: JSON.stringify(data),
            contentType: "application/json;charset=UTF-8",
            cache: false,
            async: true,
            success: function (data) {
                load.stop();
                //console.log("新建排课表回调数据data="+data)
                var status = data.status;
                var msg = data.msg;
                if (status == "00") {
                    $.kd.kdAlert(msg,function () {
                        load.start();
                        window.location.href = basePath + '/lessonTable/toLessonTable';
                    });
                }else {
                    $.kd.kdMsg(msg);
                }

            },
            error: function () {
                load.stop();
                console.log("错误")
            }
        });

    }
    //取消新建日程
    function cecalAttendClass() {
        $("#id").val("");
        //$("#newdayattend").text("新建日程");
        $("#classId").val("");
        $("#wayOfTeaching").val("");
        $("#wayOfTeachingName").val("");
        $("#scheduleMode").removeAttr("checked");
        $("#scheduleModediv").show();
        $("#startDateTime").val("");
        $("#endDateTime").val("");
        $("#timeInterval").val("");
        $("#classRoomId").val("");
        $("#classRoomName").val("");
        $("#subjectId").val("");
        $("#classTheme").val("");
        $("#teacherId").val("");
        $("#tutorId").val("");
        $("#teacherName").val("");
        $("#tutorName").val("");
        $("#classId").attr("disabled",false);
        $("#classId").css("color","black");
    }
    function serializeObject(form){
        var o = {};
        var a = $(form).serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
<script>
    laydate.render({
        elem: '#timeInterval'
        ,type: 'time'
        ,format: 'HH:mm'//保留时分
        ,range: true
        ,btns: ['clear', 'confirm']
        ,ready: formatminutes

    });

    function  formatminutes(date) {
        var aa = $(".laydate-time-list li ol")[1];
        var showtime = $($(".laydate-time-list li ol")[1]).find("li");
        /*for (var i = 0; i < showtime.length; i++) {
            var t00 = showtime[i].innerText;
            if (t00 != "00" && t00 != "20" && t00 != "30" && t00 != "40" && t00 != "50") {
                //分进行过滤 只保留0 10 20 30 40 50 一次性显示六十个太多没必要
                showtime[i].remove()
            }
        }*/
        $($(".laydate-time-list li ol")[2]).find("li").remove();  //清空秒
    }

</script>
<style>
    .manyWeek input {
        width: 30px;
        height: 15px;
    }
    a{cursor:pointer}
    .layui-laydate-content>.layui-laydate-list {
        padding-bottom: 0px;
        overflow: hidden;
    }
    .layui-laydate-content>.layui-laydate-list>li{
        width:50%
    }

    .merge-box .scrollbox .merge-list {
        padding-bottom: 5px;
    }
</style>
</body>
</html>