<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/enroll.css">
    <link rel="stylesheet" href="../static/pages/css/madal.css">
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/pages/css/kd.ui.plugin.css" />
    <link rel="stylesheet" href="../static/pages/css/loading.css" />


    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>
    <script src="../static/pages/js/jquery.validate17.min.js"></script>
    <script src="../static/pages/js/additiona17l-methods.min.js"></script>
    <script src="../static/pages/js/messages_zh.min.js"></script>
    <script src="../static/pages/js/kd.ui.plugin.js"></script>
    <script src="../static/pages/js/loading.js"></script>
</head>

<body>
<div th:replace="layout::top"></div>
    <form id="classform">
        <div class="main-container" id="main-container">
            <div th:replace="layout::left('13','32')">
            </div>
            <div class="main-content" id="main-content" >
                <div class="breadcrumbs" id="breadcrumbs">
                    <img src="../static/pages/img/line1.png">
                    <span>新建班级</span>
                    <img src="../static/pages/img/line.png">
                </div>
                <div class="enrollCon" id="donghua">
                    <h2>班级信息</h2>
                    <div class="stopClass newClass" id="jlfind">
                        <div class="form-group">
                            <label for="organId"><span>*</span>校区</label>
                            <select name="organId" id="organId" onchange="getXbClassJl();">
                                <!--<option value="">选择校区</option>-->
                                <option th:each="orgs:${organsList}" th:selected="${xbClass.organId == orgs.id}"
                                    th:value="${orgs.id}" th:text="${orgs.organName}"></option>
                            </select>
                        </div>
                        <div class="form-group" style="display:block; margin-top:20px !important">
                            <label for="courseId"><span>*</span>课程</label>
                            <select name="courseId" id="courseId">
                                <option th:each="course:${xbCourseList}" th:selected="${xbClass.courseId == course.id}"
                                    th:value="${course.id}" th:text="${course.courseName}"></option>
                            </select>
                        </div>
                        <div class="form-group" style="display: block;">
                            <label for="className"><span>*</span>班级名称</label>
                            <input type="hidden" name="id" id="classId" th:value="${xbClass.id}">
                            <input type="text" th:value="${xbClass.className}" name="className" placeholder="请输入班级名称"
                                class="remark" style="width:514px !important;">
                        </div>
                        <div style="display:block;  margin-bottom:26px;">
                            <label  style="width:120px; text-align: left;">开班日期</label>
                            <div class="classDate">
                                <input class="laydate-icon" id="demo" th:if="${xbClass.classBeginDate==null}" th:value="${xbClass.classBeginDate}"
                                       name="classBeginDate" />
                                 <input class="laydate-icon" id="demo" th:if="${xbClass.classBeginDate!=null}" th:value="${#dates.format(xbClass.classBeginDate, 'yyyy-MM-dd')}"
                                    name="classBeginDate" />
                            </div>
                        </div>
                        <div style="display:block;  margin-bottom:26px;">
                            <label  style="width:120px; text-align: left;">结班日期</label>
                            <div class="classDate">
                                <input class="laydate-icon" id="demo2" th:if="${xbClass.classEndDate==null}" th:value="${xbClass.classEndDate}"
                                       name="classEndDate" />
                                <input class="laydate-icon" id="demo2" th:if="${xbClass.classEndDate!=null}" th:value="${#dates.format(xbClass.classEndDate, 'yyyy-MM-dd')}"
                                       name="classEndDate" />
                            </div>
                        </div>
                        <!--<div class="form-group">
                        <input type="checkbox" class="check">
                        <span class="pend">日期待定</span>
                    </div>-->
                        <div class="form-group" style="display: block; margin-bottom: 22px !important;">
                            <label><span>*</span>预招人数</label>
                            <!-- <input type="text" name="preRecruitNum" th:value="${xbClass.preRecruitNum}" class="num"
                                style="width:350px !important;">
                            <div>
                                <span class="glyphicon glyphicon-chevron-up add"></span>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </div> -->
                            <div class="spinner" data-trigger="spinner" id="spinner" style="display:inline-block; position: relative;">
                                <input type="text" name="preRecruitNum" th:value="${xbClass.preRecruitNum}" class="form-control" value="1" data-max="100" data-min="1" data-step="1"
                                       style="width:350px !important;">
                                <div class="" style="position: absolute; left:330px; top:0;">
                                    <i class="glyphicon glyphicon-chevron-up" data-spin="up" style="display:block; color:#888; cursor: pointer;"></i>
                                    <i class="glyphicon glyphicon-chevron-down" data-spin="down" style="display:block; color:#888; cursor: pointer;"></i>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="establishNum">成班人数</label>
                            <input type="text" name="establishNum" th:value="${xbClass.establishNum}">
                            <span>人</span>
                        </div>

                        <div style="display: block; margin-top:20px;">
                            <div class="form-group">
                                <label><span>*</span>每次上课</label>
                                学员
                                <input type="text" name="studentNum" th:value="${xbClass.studentNum}">
                                <span>人</span>
                            </div>
                            <div class="form-group">
                                教师
                                <input type="text" name="teacherNum" th:value="${xbClass.teacherNum}">
                                <span>课时</span>
                            </div>

                        </div>
                            <div class="form-group" style="display: block; margin-top:20px !important;">
                                <label>招生状态</label>
                                <input checked name="form-field-radio"
                                       name="recruitState" value="0" type="radio" class="ace"><span class="lbl">开放招生</span>
                                <input th:attr="checked=${xbClass.recruitState == '1'?true:false}" name="form-field-radio"
                                       name="recruitState" value="1" type="radio" class="ace"><span class="lbl">停止招生</span>
                            </div>
                            <div class="form-group">
                                <label for="classroomId"><span>*</span>教室</label>
                                <select name="classroomId" id="classroomId" th:value="${xbClass.classroomId}">
                                    <!--<option value="">选择教室</option>-->
                                    <option th:each="classroom:${xbClassroomList}" th:selected="${xbClass.classroomId == classroom.id}"
                                        th:value="${classroom.id}" th:text="${classroom.classroomName}"></option>
                                </select>
                            </div>
                        <!--<div class="form-group teacher" style="display:block;>
                           <label for="teacherId"><span>*</span>教师</label>
                           <select name="teacherId" id="teacherId" th:value="${xbClass.teacherId}">
                               <!--<option value="">选择教师</option>
                                    <option th:each="employee:${employeeList}" th:selected="${xbClass.teacherId == employee.id}"
                                        th:value="${employee.id}" th:text="${employee.employeeName}"></option>
                                </select>
                               <select name="" id="">
                            <option value="">选择助教</option>
                            <option value="">222</option>
                            <option value="">333</option>
                        </select>
                        <i>+</i>
                        <span>以上教师和助教可对班级学员记上课和布置作业(需要拥有相关权限)</span>
                            </div>-->
                        <div class="form-group" style="display:block; margin-top:20px !important">
                            <label for="teacherId"><span>*</span>教师</label>
                            <select name="teacherId" id="teacherId">
                                <option th:each="employee:${employeeList}" th:selected="${xbClass.teacherId == employee.id}"
                                        th:value="${employee.id}" th:text="${employee.employeeName}"></option>
                            </select>
                        </div>
                        <div class="form-group" style="display: block;">
                            <label for="remarks">备注</label>
                            <input type="text" class="remark" name="remarks" th:value="${xbClass.remarks}" style="width:514px !important;">
                        </div>
                    </div>
                </div>
                <div class="enrollCon">
                    <button class="save" type="button" onclick="saveClass();">保存</button>
                    <button class="save" type="button" onclick="javascript:history.go(-1)" style="margin-right:22px;">返回</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        ! function () {
            laydate.render({
                elem: '#demo'
            }); //绑定元素
            laydate.render({
                elem: '#demo2'
            }); //绑定元素
        }();

        $(function(){
            $("#classform").validate({
                rules : {
                    className : {
                        required:true,
                        minlength:2,
                        checkName:true,
                        maxlength:15
                    },
                    organId : {
                        required:true
                    },
                    courseId : {
                        required:true
                    },
                    classBeginDate : {
                        required:true
                    },
                    classEndDate : {
                        required:true
                    },
                    preRecruitNum : {
                        required:true,
                        digits:true
                    },
                    classroomId : {
                        required:true
                    },
                    teacherId : {
                        required:true
                    },
                    messages: {
                        className: {
                            required: "教室名称名称不能为空",
                            minlength: "用户名最少由两个字符组成",
                            maxlength:"用户名不能超过10个字符"
                        },
                        organId: "校区不能为空"
                    },
                    errorPlacement: function(error, element) {
                        if ( element.is(":radio") )
                            error.appendTo( element.parent().next().next() );
                        else if ( element.is(":checkbox") )
                            error.appendTo ( element.next() );
                        else
                            error.appendTo( element.parent().next() );
                    }
                }
            });
            jQuery.validator.addMethod('checkName', function (value, element) {
                var id = $("#classId").val();
                var organId = $("#organId").val();
                var courseId = $("#courseId").val();
                var teacherId = $("#teacherId").val();
                if(id){
                    return true;
                }
                var load = new Loading();
                load.init({
                    target: "#donghua"
                });
                load.start();
                var msgcode=null;
                $.ajax({
                    url: basePath + "/student/checkClassesName",
                    type: "get",
                    dataType: 'json',
                    async:false,
                    contentType:"application/json;charset=UTF-8",
                    data: {"name":value,"organId":organId,"courseId":courseId,"teacherId":teacherId},
                    success: function(result){
                        load.stop();
                        msgcode= result.code;
                    }
                })
                if(msgcode==1001){
                    $(element).data('error-msg','该班级名称已存在！');
                    return false;
                }
                return true;
            }, function(params, element) {
                return $(element).data('error-msg');
            });
        });

    </script>
    <script type="text/javascript" th:inline="javascript">
        var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/ ;
        function saveClass() {
            if ($("#classform").valid()) {
                var data = serializeObject("#classform");
                var load = new Loading();
                load.init({
                    target: "#main-content"
                });
                load.start();
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: basePath + '/student/save/xbclass',
                    data: JSON.stringify(data),
                    contentType: "application/json;charset=UTF-8",
                    cache: false,
                    async: true,
                    success: function (data) {
                        load.stop();
                        //var status = data.status;
                        var msg = data.msg;
                        $.kd.kdAlert("编辑成功！",function () {
                            window.location.href = basePath + '/student/getXbClassroomList?room=1';
                        },"提示");
                        /*if(status=="0"){
                            if (confirm(msg)) {
                                window.location.href(basePath + '/accounts/getOrgansList');
                            }
                        }else{

                        }*/
                    }
                });
            }
        }
        function serializeObject(form) {
            var o = {};
            var a = $(form).serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        function getXbClassJl() {
            var orgid = $("#organId").val();
            var load = new Loading();
            load.init({
                target: "#donghua"
            });
            load.start();
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: basePath + '/student/getXbClassJl',
                data: {
                    organId: orgid
                },
                contentType: "application/json;charset=UTF-8",
                cache: false,
                async: true,
                success: function (data) {
                    load.stop();
                    console.log(data.xbCourseList)
                    $('#classroomId').empty();
                    $('#courseId').empty();
                    $('#teacherId').empty();
                    for (var i = 0; i < data.xbClassroomList.length; i++) {
                        //先创建好select里面的option元素
                        var option = document.createElement("option");
                        //转换DOM对象为JQ对象,好用JQ里面提供的方法 给option的value赋值
                        $(option).val(data.xbClassroomList[i].id);
                        //给option的text赋值,这就是你点开下拉框能够看到的东西
                        $(option).text(data.xbClassroomList[i].classroomName);
                        //获取select 下拉框对象,并将option添加进select
                        $('#classroomId').append(option);
                    }
                    for (var i = 0; i < data.xbCourseList.length; i++) {
                        //先创建好select里面的option元素
                        var option = document.createElement("option");
                        //转换DOM对象为JQ对象,好用JQ里面提供的方法 给option的value赋值
                        $(option).val(data.xbCourseList[i].id);
                        //给option的text赋值,这就是你点开下拉框能够看到的东西
                        $(option).text(data.xbCourseList[i].courseName);
                        //获取select 下拉框对象,并将option添加进select
                        $('#courseId').append(option);
                    }
                    for (var i = 0; i < data.employeeList.length; i++) {
                        //先创建好select里面的option元素
                        var option = document.createElement("option");
                        //转换DOM对象为JQ对象,好用JQ里面提供的方法 给option的value赋值
                        $(option).val(data.employeeList[i].id);
                        //给option的text赋值,这就是你点开下拉框能够看到的东西
                        $(option).text(data.employeeList[i].employeeName);
                        //获取select 下拉框对象,并将option添加进select
                        $('#teacherId').append(option);
                    }
                }
            });
        };
    </script>
</body>

</html>