<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css"/>
    <link rel="stylesheet" href="../static/pages/css/management.css"/>
    <link rel="stylesheet" href="../static/pages/css/student.css"/>
    <link rel="stylesheet" href="../static/pages/css/newStudent.css"/>
    <link rel="stylesheet" href="../static/pages/css/madal.css"/>
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/pages/css/kd.ui.plugin.css" />
    <link rel="stylesheet" href="../static/pages/css/loading.css" />


    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>
    <script src="../static/pages/js/kd.ui.plugin.js"></script>
    <script src="../static/pages/js/loading.js"></script>


</head>
<body>
<div th:replace="layout::top"></div>
<div class="main-container" id="main-container">
    <div th:replace="layout::left('14','42')">
    </div>
    <div class="main-content" ><!--layout:fragment="content"-->
        <div class="breadcrumbs" id="breadcrumbs">
            <img src="../static/pages/img/line1.png">
            <span>员工管理</span>
            <img src="../static/pages/img/line.png">
        </div>
        <form id="searchform">
            <div class="tabbable">
                <div class="tab-content student course">
                    <!-- 学员列表 -->
                    <div id="studentList" class="tab-pane fade in active">
                        <div class="screen">
                            <a class="stdEnroll" href="/forward/employee">新建员工</a>
                            <div class="screenTop">
                                <select class="selectName" name="type">
                                    <option th:selected="${type eq 'AZ'}" value="AZ">员工姓名</option>
                                    <option th:selected="${type eq 'AL'}" value="AL">员工手机号</option>
                                </select>
                                <div class="nav-search" id="nav-search">
                                    <form class="form-search">
                                        <span class="input-icon">
                                            <input type="text" placeholder="请输入姓名或者手机号" class="nav-search-input"
                                                   name="nameormobile" th:value="${nameormobile}" autocomplete="off">
                                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                                        </span>
                                    </form>
                                </div>
                                <div class="form-group" style="display: inline;">
                                    <button type="button" th:onclick="'javascript:getOrgansListPage(\'\')'">搜索</button>
                                </div>
                            </div>
                            <div class="screenBot tags">
                                <!--<span class="tag">所属部门：青山分校<button type="button" class="close">×</button></span>
                                <p>清空筛选</p>-->
                            </div>
                        </div>
                        <div class="control-position" id="control-position">
                            <!--<div class="control-group">
                                <label class="control-label">所属部门</label>
                                <div class="checkbox">
                                    <label>
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">未指定所属部门</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">青山分校</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">科源分校</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="form-field-checkbox" type="checkbox" class="ace">
                                        <span class="lbl">昆山分校</span>
                                    </label>
                                </div>
                            </div>-->
                            <div class="control-group">
                                    <label class="control-label">是否教师</label>
                                    <div class="checkbox">
                                        <input  th:attr ="checked=${isAttendClass == '2'?true:false}" name="isAttendClass" value="2" type="radio" class="ace"  th:onclick="'javascript:getOrgansListPage(\'\')'">
                                        <span class="lbl">全部</span>
                                        <label>
                                            <input  th:attr ="checked=${isAttendClass == '0'?true:false}" name="isAttendClass" value="0" type="radio" class="ace"  th:onclick="'javascript:getOrgansListPage(\'\')'">
                                            <span class="lbl">是</span>
                                        </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input th:attr ="checked=${isAttendClass == '1'?true:false}" name="isAttendClass" value="1" type="radio" class="ace" th:onclick="'javascript:getOrgansListPage(\'\')'">
                                        <span class="lbl">否</span>
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">管辖校区</label>
                                <input  th:attr ="checked=${organId == '0'?true:false}" name="organId" type="radio" th:value="0" class="ace" th:onclick="'javascript:getOrgansListPage(\'\')'">
                                <span class="lbl" th:text="全部校区"></span>
                                <div class="checkbox" th:each="orgs:${organsList}">
                                    <label>
                                        <input th:attr ="checked=${organId == orgs.id?true:false}" name="organId" type="radio" th:value="${orgs.id}" class="ace" th:onclick="'javascript:getOrgansListPage(\'\')'">
                                        <span class="lbl" th:text="${orgs.organName}"></span>
                                    </label>
                                </div>
                        </div>

                        <div class="orderCon">
                            <!--<div class="export">
                                <button type="button" class="btn btn-primary">导出当前结果</button>
                                <button type="button" class="btn btn-primary">批量调整所属部门</button>
                            </div> -->
                            <div class="result">
                                当前结果：共计<span th:text="${employeePage.getTotalElements()}"></span>人
                            </div>
                            <div class="orderTable">
                                <table class="table table-hover">
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="sel_1" onchange="selectAll()">
                                        </th>
                                        <th>姓名</th>
                                        <th>手机号</th>
                                        <th id="donghua">所属校区</th>
                                        <th>是否教师</th>
                                        <th>所属角色</th>
                                        <!--<th>机构账号</th>-->
                                        <th>操作</th>
                                    </tr>
                                    <tr id="choose" th:each="employee,employeeStat:${employeePage.content}">
                                        <td><input type="checkbox"></td>
                                        <td th:text="${employee.employeeName}"></td>
                                        <td th:text="${employee.mobilePhone}"></td>
                                        <td th:text="${employee.sysOrgans.organName}"></td>
                                        <td th:if="${employee.isAttendClass eq 0}">
                                            是
                                        </td>
                                        <td th:if="${employee.isAttendClass eq 1}">
                                            否
                                        </td>
                                        <td th:text="${employee.sysRole.roleName}"></td>
                                        <td>
                                            <a th:href="@{/accounts/getEmployee(id=${employee.id})}"><img src="../static/pages/img/edit.png">编辑</a>
                                            <a href="#" th:onclick="'javascript:deleteEmployee(\''+${employee.id}+'\')'"><img src="../static/pages/img/del.png">删除</a>
                                        </td>
                                    </tr>
                                </table>
                                <div class="orderPage" style="margin-top:30px;">
                                    <div class="page">
                                        单页显示：
                                        <select id="size" name="size" onchange="getOrgansListPage('');">
                                            <option value="20">20条/页</option>
                                            <option value="5">5条/页</option>
                                            <option value="10">10条/页</option>
                                            <option value="15">15条/页</option>
                                        </select>
                                        <input type="hidden" id="currentzise" th:value="${currentzise}"/>
                                    </div>
                                    <!--<ul class="pagination" th:if="${employeePage.getTotalPages() gt 0}" >
                                        <li class="disabled">
                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+0+'\')'">首页</a>
                                        </li>
                                        <li class="disabled" th:if="${employeePage.getNumber()-1} ge 0">
                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${employeePage.getNumber()-1}+'\')'">
                                                <i class="ace-icon fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li th:class="${i} eq ${employeePage.getNumber()+1}?'active':''" th:each="i:${#numbers.sequence(1,employeePage.getTotalPages())}">
                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${i}+'\')'" th:text="${i}"></a>
                                        </li>
                                        <li th:if="${employeePage.getTotalPages()} ge ${employeePage.getNumber()+2} ">
                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${employeePage.getNumber()+2}+'\')'">
                                                <i class="ace-icon fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        &lt;!&ndash; <li class="">
                                             <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${currentnumber}+'\')'">尾页</a>
                                         </li>&ndash;&gt;
                                    </ul>-->
                                    <ul class="pagination" th:if="${employeePage.getTotalPages()>0}">
                                        <!-- 上一页 -->
                                        <li th:if="${employeePage.getNumber()+1 == 1}"><span>上一页</span></li>
                                        <li th:if="${employeePage.getNumber()+1 > 1}">
                                            <a  th:onclick="'javascript:getOrgansListPage(\''+${employeePage.getNumber()-1}+'\')'">
                                                <i class="ace-icon fa ">上一页</i>
                                            </a>
                                        </li>
                                        <!-- 首页 -->
                                        <li th:if="${employeePage.getNumber()+1 == 1}" class="active"><span>1</span></li>
                                        <li th:if="${employeePage.getNumber()+1 > 1}">
                                            <a  th:onclick="'javascript:getOrgansListPage(\''+${0}+'\')'">1</a>
                                        </li>

                                        <th:block th:if="${employeePage.getTotalPages()>2 && employeePage.getTotalPages()<=10}">
                                            <th:block th:each="i:${#numbers.sequence(2,employeePage.getTotalPages()-1)}">
                                                <li th:if="${employeePage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                <li th:if="${employeePage.getNumber()+1 != i}"><a  th:onclick="'javascript:getOrgansListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${employeePage.getTotalPages() > 10}">
                                            <th:block th:if="${(employeePage.getNumber()+1-(5/2)) <= 2}" th:each="i:${#numbers.sequence(2,2+5-1)}">
                                                <li th:if="${employeePage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                <li th:if="${employeePage.getNumber()+1 != i}"><a  th:onclick="'javascript:getOrgansListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                            </th:block>
                                            <!-- ... -->
                                            <li th:if="${(employeePage.getNumber()+1-(5/2))>2}"><span>...</span></li>

                                            <th:block th:if="${((employeePage.getNumber()+1-(5/2))>2) && ((employeePage.getNumber()+1+(5/2)-(5%2==0?1:0)) < (employeePage.getTotalPages()-1))}"
                                                      th:each="i:${#numbers.sequence(employeePage.getNumber()+1-(5/2),employeePage.getNumber()+1+(5/2)-(5%2==0?1:0))}">
                                                <li th:if="${employeePage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                <li th:if="${employeePage.getNumber()+1 != i}"><a  th:onclick="'javascript:getOrgansListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                            </th:block>

                                            <!-- ... -->
                                            <li th:if="${(employeePage.getNumber()+1+(5/2)-(5%2==0?1:0)) < (employeePage.getTotalPages()-1)}"><span>...</span></li>
                                            <th:block th:if="${(employeePage.getNumber()+1+(5/2)-(5%2==0?1:0)) >= (employeePage.getTotalPages()-1)}" th:each="i:${#numbers.sequence(employeePage.getTotalPages()-5,employeePage.getTotalPages()-1)}">
                                                <li th:if="${employeePage.getNumber()+1 == i}"  class="active"><span th:text="${i}">页码</span></li>
                                                <li th:if="${employeePage.getNumber()+1 != i}"><a  th:onclick="'javascript:getOrgansListPage(\''+${i-1}+'\')'" th:text="${i}"></a></li>
                                            </th:block>
                                        </th:block>
                                        <!-- 最后一页 -->
                                        <li th:if="${employeePage.getTotalPages()>1 && employeePage.getNumber()+1 == employeePage.getTotalPages()}" class="active"><span th:text="${employeePage.getTotalPages()}">页码</span></li>
                                        <li th:if="${employeePage.getTotalPages()>1 && employeePage.getNumber()+1 != employeePage.getTotalPages()}">

                                            <a href="#" th:onclick="'javascript:getOrgansListPage(\''+${employeePage.getTotalPages()-1}+'\')'"
                                               th:text="${employeePage.getTotalPages()}"></a>
                                        </li>
                                        <!-- 下一页 -->
                                        <li th:if="${employeePage.getNumber()+1 >= employeePage.getTotalPages()}"><span>下一页</span></li>
                                        <li th:if="${employeePage.getNumber()+1 < employeePage.getTotalPages()}">
                                            <a th:onclick="'javascript:getOrgansListPage(\''+${employeePage.getNumber()+1}+'\')'">
                                                <i class="ace-icon fa ">下一页</i>
                                            </a>
                                        </li>
                                        <li>
                                            <span style="color: #020202;" th:text="'共'+${employeePage.getTotalPages()}+'页/'+${employeePage.getTotalElements()}+'条记录'"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
<script>
!function(){
laydate.render({elem: '#demo'});//绑定元素
}();

$(function(){
    var a = $("#currentzise").val();
    if(a!=20){
        $("#size").val(a);
    }
});

$(".btn-down").click(function(){
  $(this).siblings(".dropdown-menu").toggle();
});
$(".tag .close").click(function(){
  $(this).parent(".tag").hide();
});
function selectAll(){
    var isCheck=$("#sel_1").is(':checked');  //获得全选复选框是否选中
    $("#choose input[type='checkbox']").each(function() {  
        this.checked = isCheck;       //循环赋值给每个复选框是否选中
    });
   
};
</script>
<script type="text/javascript" th:inline="javascript">
    var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;
function deleteEmployee(id){
   // if(confirm("确定要删除该用户吗？")){
    $.kd.kdConfirm("确定要删除该用户吗？",function(){
        var load = new Loading();
        load.init({
            target: "#donghua"
        });
        load.start();
        $.ajax({
            url: basePath + '/accounts/delete/employee/'+id,
            type: 'get',
            dataType: 'json',
            contentType: 'application/json',
            async: true,
            success: function(data) {
                load.stop();
                var status = data.status;
                var msg = data.msg;
                $.kd.kdAlert("删除成功！",function () {
                    window.location.href = basePath + '/accounts/getEmployeeList';
                });
            },
            error:function(){
                console.log("回调失败")
            }
        });
    })
    //}
}

    function getOrgansListPage(page){
        var load = new Loading();
        load.init({
            target: "#main-container"
        });
        load.start();
        var data= serializeObject("#searchform");
        var size = $('#size option:selected').val();//选中的值
        /*if(page){
            page = page -1;
        }*/
        //var organId=$('input:radio[name="organId"]:checked').val();
        //var isAttendClass=$('input:radio[name="isAttendClass"]:checked').val();
        window.location.href = basePath + '/accounts/getEmployeeList?page='+page+'&size='+size+'&data='+JSON.stringify(data);
    }

    function serializeObject(form)
    {
        var o = {};
        var a = $(form).serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

        $(function(){
            /*$("#submenu li").click(function() {
                $(this).parents('li').addClass('active');  // 删除其他兄弟元素的样式
                $.kd.kdAlert($(this).parents('li'));
                $(this).parents('li').addClass('open');  // 删除其他兄弟元素的样式
                $(this).siblings('li').removeClass('active');  // 删除其他兄弟元素的样式
                $(this).addClass('active');                            // 添加当前元素的样式
            });*/
        });
</script>
    <style>
        a{
            cursor: pointer}
    </style>
</body>
</html>