<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="../static/pages/css/ace.min.css" id="main-ace-style" />
    <link rel="stylesheet" href="../static/pages/css/index.css">
    <link rel="stylesheet" href="../static/pages/css/enroll.css">
    <link rel="stylesheet" href="../static/pages/css/madal.css">
    <link rel="stylesheet" href="../static/pages/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/pages/css/kd.ui.plugin.css" />


    <script src="../static/pages/js/jquery.min.js"></script>
    <script src="../static/pages/js/bootstrap.min.js"> </script>
    <script src="../static/pages/js/ace.min.js"> </script>
    <script src="../static/pages/js/ace-elements.min.js"></script>
    <script src="../static/pages/laydate/laydate.js"></script>
    <script src="../static/pages/js/kd.ui.plugin.js"></script>
</head>
<body>
<div id="navbar" class="eduNav">
    <div class="navbar-header pull-left">
        <a href="index.html" class="navbar-brand">
            <small>
                <img src="../static/pages/img/logo.png" alt="">
            </small>
        </a>
    </div>
    <div class="pull-right eduName">
        <!--<span>万某 [管理员]</span>
        <span>机构中心</span>
        <span>退出</span>  -->
    </div>
</div>  
<div class="main-container" id="main-container">
    <div id="sidebar" class="sidebar responsive">
        <ul class="nav nav-list" style="top: 0px;">
            <li class="">
                <a href="/forward/index"><span class="menu-text"> 工作台 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/student/getManagementList"><span class="menu-text"> 办理中心 </span></a>
                <b class="arrow"></b>
            </li>
            <li class="active open">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text">教务中心</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/student/getXbStudentList"><i class="menu-icon fa fa-caret-right"></i>学员</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/student/getXbClassroomList"><i class="menu-icon fa fa-caret-right"></i>班级</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="active">
                        <a href="/student/getOneToOneList">
                            <i class="menu-icon fa fa-caret-right"></i>一对一</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/jw_center_arranging_course/to_arranging_course"><i class="menu-icon fa fa-caret-right"></i>排课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/lessonTable"><i class="menu-icon fa fa-caret-right"></i>课程表</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/forward/attendClass"><i class="menu-icon fa fa-caret-right"></i>记上课</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/jwcentercourse/tocourse"><i class="menu-icon fa fa-caret-right"></i>课程</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <span class="menu-text"> 内部管理 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/accounts/getOrgansList"><i class="menu-icon fa fa-caret-right"></i>组织架构</a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/accounts/getEmployeeList"><i class="menu-icon fa fa-caret-right"></i>员工信息</a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <img src="../static/pages/img/line1.png">
            <span>编辑</span>
            <img src="../static/pages/img/line.png">
        </div>     
        <div class="enrollCon">
            <h2>一对一信息</h2>
            <div class="stopClass newClass">     
                <div class="form-group">
                    <label><span>*</span>校区</label>
                    <select name="" id="">
                        <option value="">选择校区</option>
                        <option value="">222</option>
                        <option value="">333</option>
                    </select>
                </div>
                <div class="form-group">
                    <label><span>*</span>课程</label>
                    <select name="" id="">
                        <option value="">111</option>
                        <option value="">222</option>
                        <option value="">333</option>
                    </select>
                </div>
                <div class="form-group" style="display: block;">
                    <label for=""><span>*</span>一对一名称</label>
                    <input type="text" class="remark" value="张三珠心算1(1对1)">
                </div>
                <div style="display:block;">
                    <div class="classDate">
                        <label>开班日期</label>
                        <input class="laydate-icon" id="demo" >   
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="check">
                        <span class="pend">日期待定</span>
                    </div>
                </div>
                <div style="display:block;">
                    <div class="classDate">
                        <label>结班日期</label>
                        <input class="laydate-icon" id="demo" >   
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="check">
                        <span class="pend">结班后，同时将学员的课程结束</span>
                    </div>
                    <p style="margin-left:10px; font-size:12px; color:#999;">到达结班日期后，将自动结班</p>
                </div>
                <div style="display: block; margin-top:20px;">
                    <div class="form-group">
                        <label><span>*</span>每次上课</label>
                        学员 <input type="text" value="1">
                        <span>人</span>
                    </div>
                    <div class="form-group">
                        <label>教师</label>
                        <input type="text" value="1">
                        <span>课时</span>
                    </div>
                </div>
                <div style="display: block; margin-top:20px;">
                    <div class="form-group">
                        <label>教室</label>
                        <select name="" id="">
                            <option value="">选择教室</option>
                            <option value="">222</option>
                            <option value="">333</option>
                        </select>
                    </div>  
                    <div class="form-group teacher" >
                        <label>教师</label>
                        <select name="" id="">
                            <option value="">选择教师</option>
                            <option value="">222</option>
                            <option value="">333</option>
                        </select>
                        <select name="" id="">
                            <option value="">选择助教</option>
                            <option value="">222</option>
                            <option value="">333</option>
                        </select>
                        <span>以上教师和助教可对班级学员记上课和布置作业(需要拥有相关权限)</span>
                    </div>  
                </div>
                <div class="form-group" style="display: block;">
                    <label for="">备注</label>
                    <input type="text"  class="remark">
                </div>
            </div>
        </div>
        <div class="enrollCon">
            <button class="save">保存</button>
        </div>
    </div>
    <!-- 选择已有学员 -->
    <div id="modal-table" class="modal fade in subsidy" tabindex="-1" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">选择已有学员</div>
                    </div>
                    <div class="modalFrom">
                        <div class="form-group" style="margin-right:0 !important;">
                            <select name="" id="">
                                <option value="">学员姓名</option>
                                <option value="">张三</option>
                                <option value="">李四</option>
                            </select>
                        </div> 
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="请输入班级名称或教师名称" class="nav-search-input" id="nav-search-input" autocomplete="off">
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>  
                        <div class="form-group">
                            <label>校区</label>
                            <select name="" id="">
                                <option value="">全部校区</option>
                                <option value="">111</option>
                                <option value="">222</option>
                            </select>
                        </div>                        
                    </div>
                    <div class="modal-body no-padding">
                        <table class="table table-striped  table-hover no-margin-bottom no-border-top">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>联系方式</th>
                                    <th>公立学校</th>
                                    <th>在读课程</th>
                                </tr>
                            </thead>
                            <tbody style="display: none;">
                                <tr class="none">
                                    <td>
                                        <img src="../static/pages/img/none.png">
                                        <span>很抱歉，这里什么都没有</span> 
                                    </td>   
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td><img src="../static/pages/img/boy.png">张三</td>
                                    <td>15874747474</td>
                                    <td ></td>
                                    <td><img src="../static/pages/img/ke.png">在读课程</td>
                                </tr>
                                <tr>
                                    <td><img src="../static/pages/img/girl.png">张三</td>
                                    <td>15874747474</td>
                                    <td ></td>
                                    <td><img src="../static/pages/img/ke.png">在读课程</td>
                                </tr>
                                <tr>
                                    <td><img src="../static/pages/img/girl.png">张三</td>
                                    <td>15874747474</td>
                                    <td ></td>
                                    <td><img src="../static/pages/img/ke.png">在读课程</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                    <div class="modal-footer no-margin-top">
                        <button class="btn pull-left" data-dismiss="modal">
                            取消
                        </button>
                        <p>已选择班级<span>0</span>个</p>
                        <button class="btn pull-right" data-dismiss="modal">
                            确定
                        </button>
                    </div>
                </div>
            </div>
    </div>

</div> 

<script>
!function(){
laydate.render({elem: '#demo'});//绑定元素
}();


</script> 
</body>
</html>