<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员-工作台</title>
    <link rel="stylesheet" href="../static/pages/wechat_css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pages/wechat_css/index.css">
    <script src="../static/pages/wechat_js/jquery.js"></script>
    <script src="../static/pages/wechat_js/bootstrap.min.js"></script>
    <script src="../static/pages/wechat_js/index.js"></script>
</head>
<body>
<h2 class="head">我的应用</h2>
<div class="content">
    <a href="/recordClassWechat/toTimeTable?sort=createDate,DESC&sort=createTime,DESC">
        <span><img src="../static/pages/wechat_img/kcb.png"></span>
        <p>课程表</p>
    </a>
    <a href="/recordClassWechat/getRecordClassList">
        <span><img src="../static/pages/wechat_img/jsk.png"></span>
        <p>记上课</p>
    </a>
    <a href="/recordClassWechat/getRecordClassRecordListByClass?sort=recordTime,DESC">
        <span><img src="../static/pages/wechat_img/record.jpg"></span>
        <p>上课记录</p>
    </a>
    <a href="/wechatLogin/updatepwd">
        <span><img src="../static/pages/wechat_img/kcb.png"></span>
        <p>修改密码</p>
    </a>
</div>
<div class="foot">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-th-large"></span>工作台</a>
        </li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-user"></span>我的</a></li>
    </ul>
</div>
</body>
</html>






























